APP_ENV=dev
VENDURE_SERVER_PORT=3000
COOKIE_SECRET=changeme
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=changeme
DB_HOST=vendure-postgres
DB_PORT=5432
DB_NAME=vendure
DB_USERNAME=sk-vendure
DB_PASSWORD=changeme
DB_SCHEMA=public
